@use '../abstract/variables' as var;
@use '../abstract/mixin' as *;


input[type="text"],
input[type="search"],
textarea {
   padding-inline: 16px 14px;
   background: var.$color-grey-light;
   border-bottom: 1px solid var.$color-border;
   border-radius: 4px 4px 0 0;
}

input[type="text"],
input[type="search"] {
   height: 56px;
}

textarea {
   padding: 19px 16px;
}

label {
   display: flex;
   align-items: center;
}

.option_container {
   position: relative;
   display: flex;
   align-items: center;
   
   input[type=checkbox] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 1;
   }
   
   input[type=checkbox]+label:before {
      font-family: FontAwesome;
      display: inline-block;
   }
   
   input[type=checkbox]+label:before {
      content: "\f0c8";
      font-size: 20px;
      color: var.$color-grey-dark;
   }
   
   input[type=checkbox]:checked+label:before {
      content: "\f14a";
      font-size: 20px;
      color: var.$color-green;
   }
}

// .select,
// .search_input {
//    height: 56px;
//    padding-inline: 16px 14px;
   
//    border-bottom: 1px solid var.$color-border;
//    border-radius: 4px 4px 0 0;
// }

.search_input_container {
   position: relative;
   width: 256px;
   
   input {
      width: 100%;
      background: var.$color-grey-light;
   }

   i {
      position: absolute;
      right: 14px;
      top: calc(100% - 30px);
   }

   &::placeholder {
      color: var.$color-grey-darkest;
   }
}

.select_input_container {
   position: relative;
   width: 100%;
   height: 56px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   border-radius: 4px 4px 0 0;
   border-bottom: 1px solid var.$color-border;
   background: var.$color-white;

   select {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 24px 12px 0px 16px;
      background: unset;
   }
   
   label {
      font-size: 11px;
      line-height: 18px;
      padding: 4px 16px 0 16px;
      color: var.$color-grey-darkest;
   }
   
   i {
      position: absolute;
      top: calc(50% - 9px);
      right: 12px;
      font-size: 18px;
      color: var.$color-grey-semiblack;
   }
}

input[type="text"] {
   background: var.$color-grey-light;
}