@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
$ff-poppins: 'Poppins', sans-serif;
$ff-inter: 'Inter', sans-serif;

$gap-md: 32px;

$color-green: #00A878;
$color-orange: #FE5E41;

$color-white: #ffffff;
$color-grey-light: #F2F2F2;
$color-grey-medium: #DEDEDE;
$color-grey-dark: #BDBDBD;
$color-grey-darkest: #6E6E6E;
$color-grey-semiblack: #1E1E1E;
$color-black: #000000;

$color-border: #DEDEDE;

$icon-black: #000000;
$icon-white: #ffffff;
