nav.breadcrumbs.mb_24.mt_40(aria-label="Breadcrumbs")
   ul
      li
         a(href="#") Home
         i.fa-solid.fa-chevron-right.fa-xs
      li
         a(href="#") Products
         i.fa-solid.fa-chevron-right.fa-xs
      li
         a(href="#") Bikes
         i.fa-solid.fa-chevron-right.fa-xs