header
   .container
      a.skip_link(href="index.html" aria-label="Jump to product section") Jump to product section
      button.btn.btn_menu
         i.fa-solid.fa-bars.fa-lg
      a(href="index.html" aria-label="Go to home screen")
         include ../assets/logo.pug
      nav.main_nav
         ul
            li
               a(href="index.html" aria-label="Products") Products
            li
               a(href="#" aria-label="Services") Services
            li
               a(href="#" aria-label="About us") About us
            li
               a(href="#" aria-label="Contact") Contact

      .search_input
         input.input.input--icon(type="search" placeholder="Search" aria-label="Search")
         i.fa-solid.fa-magnifying-glass.fa-lg
      
      nav.user_nav
         ul.gap_24
            li
               a(href="#" aria-label="User profile")
                  i.fa-solid.fa-user.fa-lg
            li 
               a(href="#" aria-label="Favorites")
                  i.fa-solid.fa-heart.fa-lg
            li
               a.cart_btn(href="#" aria-label="Cart")
                  span 1
                  i.fa-solid.fa-cart-shopping.fa-lg