header
   .container
      a(href="#") 
         include ../assets/logo.pug
      nav.main_nav
         ul
            li
               a(class="dsds" href="index.html") Products
            li
               a(href="services.html") Services
            li
               a(href="aboutus.html") About us
            li
               a(href="contact.html") Contact

      .input_container
         input.input.input--icon(type="search" placeholder="Search")
         i.fa-solid.fa-magnifying-glass.fa-lg
      
      nav.user_nav
         ul
            li
               i.fa-solid.fa-user.fa-lg
            li
               i.fa-solid.fa-heart.fa-lg
            li
               i.fa-solid.fa-cart-shopping.fa-lg