header
   .container
      button.btn.btn_menu
         i.fa-solid.fa-bars.fa-lg
      a(href="index.html" aria-label="Go to home screen")
         include ../assets/logo.pug
      nav.main_nav
         ul
            li
               a(href="index.html") Products
            li
               a(href="#") Services
            li
               a(href="#") About us
            li
               a(href="#") Contact

      .search_input
         input.input.input--icon(type="search" placeholder="Search")
         i.fa-solid.fa-magnifying-glass.fa-lg
      
      nav.user_nav
         ul.gap_24
            li
               i.fa-solid.fa-user.fa-lg
            li 
               i.fa-solid.fa-heart.fa-lg
            li
               i.fa-solid.fa-cart-shopping.fa-lg